@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poltawski+Nowy:ital,wght@0,400..700;1,400..700&display=swap');
@import 'tailwindcss';


@custom-variant dark (&:where(.dark, .dark *));


@theme {

  /* Font */
  --font-sans: 'Nunito Sans', sans-serif;
  --font-serif: 'Poltawski Nowy', serif;

  /* Light theme (default) */
  --color-bg: 255 251 235;
  --color-text: 17 24 39;
  --color-primary: 79 70 229;
  --color-link: 249, 115, 22; /* orange-500 */
  --color-link-hover: 217, 119, 6; /* amber-600 */
  --color-primary: 21, 128, 61; /* green-500 */
  --color-primary-hover: 4, 120, 87; /* emerld-700 */

  /* Dark theme variables */
  --color-bg-dark: 0 0 1.9;
  --color-text-dark: 249 250 251;
  --color-primary-dark: 165 180 252;
  --color-link-dark: 245, 158, 11; /* amber-500 */
  --color-link-hover-dark: 249, 115, 22; /* orange-500 */
  --color-primary-dark: 22, 163, 74; /* green-600 */
  --color-primary-hover-dark: 34, 197, 94; /* green-500 */


  --animate-wiggle: wiggle 3s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }

    50% {
      transform: rotate(2deg);
    }
  }

}

:root:is(.dark, [data-theme="dark"]) {
  --color-bg: var(--color-bg-dark);
  --color-text: var(--color-text-dark);
  --color-primary: var(--color-primary-dark);
  --color-link: var(--color-link-dark);
  --color-link-hover: var(--color-link-hover-dark);
  --color-primary: var(--color-primary-dark);
  --color-primary-hover: var(--color-primary-hover-dark);

}

@layer base {

  .color-primary {
    @apply text-[rgb(var(--color-primary))];
  }&:hover {
    @apply text-[rgb(var(--color-primary-hover))];
  }

  body {
    @apply bg-[rgb(var(--color-bg))] text-[rgb(var(--color-text))] font-sans transition-colors duration-300;
  }
  a{
    @apply text-[rgb(var(--color-link))] transition-colors duration-300;
    &:hover {
      @apply text-[rgb(var(--color-link-hover))];
    }
  }

}

.hero-image{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image:after {
  content: "";
    position: absolute;
    height: 150px;
    width: 300px;
    border-radius: calc(infinity * 1px);
    z-index: -1;
    box-shadow: 25px 0px 100px theme('colors.yellow.500'),
    -20px 0px 100px theme('colors.orange.500');
}



